<nav class="navbar navbar-expand-md navbar-light bg-primary px-2">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/app">BiddingApp</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                    <%= user.username %>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end py-1">
                    <li><a class="dropdown-item" href="/app/dashboard">Dashboard</a></li>
                    <li><a class="dropdown-item" href="/user/login">Logout</a></li>
                </ul>
            </li>
        </ul>
      </div>


    </div>
</nav>



<section class="p-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">

            <% bids.forEach((bid, index) => { %>

                <div class="card my-3 mx-3" style="width: 18rem">

                    <img class="m-2 mb-0 item-img" height="200px" src="https://i.pinimg.com/originals/1e/8e/83/1e8e8391f2a2bc230b00d6efb3fd92a8.jpg" class="card-img-top" alt="biditem-img">
    
                    <div class="card-body">
                        <h5 class="card-title mb-2 fw-light"><%= bid.bidname %></h5>
                        <p class="fw-light"> <span class="text-primary"><%= bid.owner %></span> <%= bid.date.toLocaleString() %></p>
    
                        
                        <div class="card-text h5 mb-2"><span id="price" class=""> &#8377 <%= Number(bid.bidprice).toLocaleString() %> </span></div>
    
                        <% bid.tags.forEach(tag => { %>
                            <div class="btn btn-info text-light py-1 px-3 mb-2"><%= tag %></div>
                        <% }) %>

    
                        <div class="d-flex align-items-center justify-content-between my-2">
    
                            <div class="d-flex align-items-center h6 fw-light"><i class="bi bi-people-fill mx-1"></i>bids: <span id="bids" class="mx-1"> <%= bid.bidders.length %> </span></div>
    
                            <div class="d-flex align-items-center h6 fw-light"><i class="bi bi-alarm-fill mx-1"></i>duration: <span id="duration" class="mx-1"> <%= bid.duration %> d</span></div>
                        </div>
                      
                        <div class="d-flex align-items-center h6 fw-light"><span class="iconify" data-icon="jam:crown-f" data-inline="false"></span>Highest bidder:
                             <span id="highest-bidder" class="mx-1 text-primary fw-bold">
                                <% if (bid.bidders.length > 0) { %>
                                    <%= bid.bidders[bid.bidders.length - 1].username %>
                                <% }else { %>
                                    none
                                <% } %>
                                
                            </span>
                        </div>
    

                        <button type="button" class="btn btn-primary text-light w-100 mt-2" data-bs-toggle="modal" data-bs-target="#bidding<%= index %>">
                            Bid now
                        </button>
                          
                          <!-- Modal -->
                        <div class="modal fade" id="bidding<%= index %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Enter your bidding amount</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    
                                    <form action="/app" method="POST">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="bid-amount" class="form-label">Your bid</label>
                                                <input type="number" class="form-control" min="<%= bid.bidprice %>" name="bidAmount" id="bidAmount" placeholder="bid greater than <%= bid.bidprice %>">
                                                <input type="text" value="<%= bid.bidname %>" name="itemname" style="display: none">
                                                <input type="text" value="<%= user.username %>" name="username" style="display: none">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary text-light px-4">Bid</button>
                                        </div>
                                    </form>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <% }) %>
        </div>
    </div>
</section>

