<nav class="navbar navbar-expand-md navbar-light bg-primary px-2">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/app">BiddingApp</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-left" id="navbarNavDropdown">
        <ul class="navbar-nav">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                    <%= user.username %>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end py-1">
                    <li><a class="dropdown-item" href="/app/dashboard">Dashboard</a></li>
                    <li><a class="dropdown-item" href="/user/login">Logout</a></li>
                </ul>
            </li>
        </ul>
      </div>


    </div>
</nav>


<!-- profile details -->
<section class="p-5 mt-5">
    <div class="container">
        <div class="d-sm-flex flex-wrap justify-content-around">
            <div class="card py-2 px-5 m-2">
                <div class="display-5 text-center text-primary">
                    <% let sold = bids.filter(bid => { %>
                        <% if (bid.owner === user.username && bid.bidders.length > 0) { %>
                            <% return bid.owner %>
                        <% } %>
                    <% }).length %>
                    <%= sold %>
                </div>
                <div class="h4 text-secondary text-center mt-3 fw-light">Items sold</div>
            </div>
            <div class="card py-2 px-5 m-2">
                <div class="display-5 text-center text-primary">
                    <% let total = 0 %>
                    <% bids.forEach(bid => { %>
                        <% let check = false %>
                        <% bid.bidders.forEach(bidder => { %>
                            <% if (bidder.username == user.username && !check) { %>
                                <% total++ %>
                                <% check = true %>
                            <% } %>
                        <% }) %>
                    <% }) %>
                    <%= total %>
                </div>
                <div class="h4 text-secondary text-center mt-3 fw-light">Total bids</div>
            </div>
            <div class="card py-2 px-5 m-2">
                <div class="display-5 text-center text-primary">
                    <% let revenue = 0 %>
                    <% bids.forEach(bid => { %>
                        <% if (bid.owner === user.username && bid.bidders.length > 0) { %>
                            <% revenue += Number(bid.bidders[bid.bidders.length - 1].bidAmount) %>
                        <% } %>
                    <% }) %>

                    &#8377 <%= revenue.toLocaleString() %>
                </div>
                <div class="h4 text-secondary text-center mt-3 fw-light">Revenue</div>
            </div>
        </div>
        
    </div>
</section>



<!-- buying and sellign items -->
<section class="p-5 mt-5">
    <div class="container">
        <div class="d-flex justify-content-around flex-wrap">
            <div class="card p-2 m-2" style="width: 18rem" data-bs-toggle="modal" data-bs-target="#createitem">
                <img src="imgs/sellImg.svg" alt="sell" class="img-fluid">
                <div class="h4 text-secondary text-center mt-2 fw-light">sell item</div>
            </div>
    
            <div class="card p-2 m-2" style="width: 18rem" data-bs-toggle="modal" data-bs-target="#yourbids">
                <img src="imgs/moneyImg.svg" alt="sell" class="img-fluid">
                <div class="h4 text-secondary text-center mt-2 fw-light">Your Bids</div>
            </div>
        </div>
    </div>
</section>



<!-- user items -->
<section class="p-5">
    <div class="display-6 mx-5">Your Items</div>
    <div class="container d-flex flex-wrap align-items-center justify-content-center mt-3">
        <% bids.forEach((bid, index) => { %>

            
            <% if (bid.owner == user.username) { %>
                <div class="card my-2 mx-2" style="width: 18rem">
        
                    <img class="m-1 mb-0 item-img" height="200px" src="data:<%= bid.imagetype %>;charset=utf-8;base64,<%= bid.image.toString('base64') %>" class="card-img-top" alt="biditem-img">
            
                    <div class="card-body">
                        <h5 class="card-title mb-2 fw-light"><%= bid.bidname %></h5>
            
                        <p class="fw-light"> <span class="text-primary">created at</span> <%= bid.date.toLocaleString() %></p>
                        
                        <div class="card-text h5 mb-2"><span id="price" class=""> &#8377 <%= Number(bid.bidprice).toLocaleString() %></span></div>
            
                        <% bid.tags.forEach(tag => { %>
                            <div class="btn btn-info text-light py-1 px-3 mb-2"><%= tag %></div>
                        <% }) %>
            
                        <div class="d-flex align-items-center justify-content-between my-2">
            
                            <div class="d-flex align-items-center h6 fw-light"><i class="bi bi-people-fill mx-1"></i>bids: <span id="bids" class="mx-1"> <%= bid.bidders.length %> </span></div>
            
                            <div class="d-flex align-items-center h6 fw-light"><i class="bi bi-alarm-fill mx-1"></i>duration: <span id="duration" class="mx-1"> <%= bid.duration %> d</span></div>
                        </div>
                      
                        <div class="d-flex align-items-center h6 fw-light"><span class="iconify" data-icon="jam:crown-f" data-inline="false"></span>Highest bidder:
                            <span id="highest-bidder" class="mx-1 text-primary fw-bold">
                               <% if (bid.bidders.length > 0) { %>
                                   <%= bid.bidders[bid.bidders.length - 1].username %>
                               <% }else { %>
                                   none
                               <% } %>
                               
                           </span>
                       </div>

            
                    
                        <div class="d-flex justify-content-around mt-3">

                            <!-- to update -->
                            <form action="/app/dashboard/update" method="post" id='update'>
                                <button type="button" class="btn btn-success text-light" data-bs-toggle="modal" data-bs-target="#U<%= bid.bidname.split(' ').join('') %>">Update</button>
                                <input type="text" name="itemname" value="<%= bid.bidname %>" style="display: none">

                                <div class="modal fade" id="U<%= bid.bidname.split(' ').join('') %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Item update</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-6">
                                                <label for="bidname" class="form-label">Item name</label>
                                                <input type="text" class="form-control" id="bidname" name="bidname" value="<%= bid.bidname %>" required>
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <label for="bidprice" class="form-label">Item price (in INR)</label>
                                                <input type="number" class="form-control" id="bidprice" name="bidprice" value="<%= bid.bidprice %>" required>
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <label for="duration" class="form-label">Auction duration (in days)</label>
                                                <input type="number" class="form-control" id="duration" name="duration" value="<%= bid.duration %>" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="tags" class="form-label">Tags</label>
                                                <input type="text" class="form-control" id="tags" name="tagsString" value="<%= bid.tags.join(',') %>" required>
                                            </div>
                        
                                        </div>
                                        <div class="modal-footer d-flex justify-content-around">
                                        <button type="submit" class="btn btn-success text-light">Update</button>
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                            


                            <!-- to delete -->
                            <form action="/app/dashboard/delete" method="post" id='delete'>
                                
                                <button type="button" class="btn btn-danger text-light" data-bs-toggle="modal" data-bs-target="#D<%= bid.bidname.split(' ').join('') %>">Delete</button>
                                <input type="text" name="itemname" value="<%= bid.bidname %>" style="display: none">


                                <div class="modal fade" id="D<%= bid.bidname.split(' ').join('') %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Once an item is deleted it is permently deleted. Make sure you remember that.
                                        </div>
                                        <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary text-light">Understood</button>
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>



                            <!-- to view bidders -->
                            <button type="button" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#bidders<%= index %>">bidders</button>
                            <div class="modal fade" id="bidders<%= index %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Bidders history</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body d-flex flex-column-reverse">
                                            <% if (bid.bidders.length > 0) { %>
                                                <% bid.bidders.forEach(bidder => { %>
                                                    <div class="p-3 my-3 info">
                                                        <%= bidder.username %> bidded <span class="text-primary fw-bold"><%= bidder.bidAmount %></span>
                                                    </div>
                                                <% }) %>
                                            <% }else { %>
                                                <div class="p-3 my-3 h4 text-center">
                                                    This item has no bidders
                                                </div>
                                            <% } %>
                                            
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-primary text-light" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

        <% }) %>
    </div>
</section>




<!-- modal to create -->
<div class="modal fade" id="createitem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Item's details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="/app/dashboard/create" method="post" class="row g-3 p-2">
                <div class="modal-body">
                    <div class="col-md-6">
                        <label for="bidname" class="form-label">Item name</label>
                        <input type="text" class="form-control" id="bidname" name="bidname" placeholder="example item" required>
                    </div>
                    <div class="col-md-6 mt-2">
                        <label for="bidprice" class="form-label">Item price (in INR)</label>
                        <input type="number" class="form-control" id="bidprice" name="bidprice" placeholder="5000" required>
                    </div>
                    <div class="col-md-6 mt-2">
                        <label for="duration" class="form-label">Auction duration (in days)</label>
                        <input type="number" class="form-control" id="duration" name="duration" placeholder="8" required>
                    </div>
                    <div class="col-md-6">
                        <label for="tags" class="form-label">Tags</label>
                        <input type="text" class="form-control" id="tags" name="tagsString" placeholder="1800's, gold, royal" required>
                    </div>

                    <label for="image" class="mt-2">Item image</label>
                    <input type="file" class="filepond" name="image" id="image" required>


                    <input type="text" class="form-control" name="username" value="<%= user.username %>" style="display: none;">

                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="submit" class="btn btn-success text-light px-3">Add item</button>
                    <button type="button" class="btn btn-danger text-light px-3" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
            
        </div>
    </div>
</div>


<!-- modal to your bids -->
<div class="modal fade" id="yourbids" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Your bidding history</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                
                <% bids.forEach(bid => { %>
                    <% bid.bidders.forEach(bidder => { %>
                        <% if (bidder.username == user.username) { %>
                            <div class="p-3 my-3 info">
                                Bidded <span class="text-primary"><%= bidder.bidAmount %></span> for <span class="text-primary"><%= bid.bidname %></span>  from <span class="text-primary"><%= bid.owner %></span> 
                            </div>
                        <% } %>
                    <% }) %>
                <% }) %>
            </div>
            <div class="modal-footer d-flex justify-content-around">

                <button type="button" class="btn btn-primary text-light px-3" data-bs-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>